* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Urbanist, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color-scheme: light dark;
}

:root {
  --bg-color: #f4f3ff;
  --btn-color: #646cff;
  --dark-color: #242424;
  --helper-color: #99b9ff;
}

html {
  font-size: 62.5%;
}

/* base style */

body {
  margin: 0;
  min-height: 100vh;
}


h1 {
  font-size: 5.4rem;
  line-height: 1.1;
  font-weight: bold;
}

.main-heading {
  /* font-family: 'Caveat', cursive; */
  font-family: 'Protest Riot', sans-serif;
  font-size: 4.5rem;
  color: #232cdb;
}

.car_provider {
  font-family: 'Protest Revolution', sans-serif;
  font-family: 'Protest Riot', sans-serif;
  font-size: 2.5rem;
  color: #45a049;
}

p,
li,
label,
input,
textarea {
  font-size: 1.8rem;
  line-height: 1.56;
  letter-spacing: 0.1rem;
  word-spacing: 0.06rem;
}

label {
  line-height: 0.6;
}

a {
  font-weight: 500;
  font-size: 1.8rem;
  letter-spacing: 0.1rem;
  color: var(--btn-color);
  text-decoration: inherit;
}

li {
  list-style: none;
}

/*? layout Rule  */

.container {
  max-width: 140rem;
  padding: 4rem 2.4rem;
  margin: 0 auto;
}

.grid {
  display: grid;
  gap: 6.4rem;
}

.grid-two-cols {
  grid-template-columns: repeat(2, 1fr);
}

.grid-four-cols {
  grid-template-columns: repeat(4, 1fr);
}

.grid-three-cols {
  grid-template-columns: repeat(3, 1fr);
}

/* Reusable */
button {
  display: inline-block;
  margin: 0 10px;
  text-decoration: none;
  border: 2px solid var(--btn-color);
  color: var(--btn-color);
  font-weight: 500;
  font-size: medium;
  padding: 10px 25px;
  border-radius: 25px;
  text-transform: uppercase;
  background-color: transparent;
  cursor: pointer;
}

button:hover {
  box-shadow: inset 0 0 0 0.2rem var(--bg-color);
  /* border: 0.2rem solid #fff; */
  background: var(--btn-color);
  color: #fff;
}

a:hover,
a:active {
  color: #232cdb;
}


/***** Hero Section *****/

.section-hero {
  & .grid {
    align-items: center;
  }

  .hero-content {
    & p {
      margin: 2.4rem 0 4.8rem 0;

      &:first-child {
        margin: 0 0 1.2rem 0;
      }
    }
  }

  .hero-image {
    display: flex;
    justify-content: center;

    & img {
      width: 70%;
      height: auto;
    }
  }
}


.bookk {
  margin-left: 6rem;
  padding: -2rem;
}

/***** End Hero  *****/

/***** analytics Section *****/

.section-analytics {
  margin: 9.6rem 0;

  & .container {
    background-color: var(--bg-color);
    border-radius: 1rem;
  }

  & .grid {
    color: var(--dark-color);

    & .div1 {
      text-align: center;
      border-right: 0.2rem solid var(--dark-color);

      &:last-child {
        border: none;
      }

      & h2 {
        font-size: 4.8rem;
      }

      & p {
        text-transform: capitalize;
      }
    }
  }
}






/* pseduo elements  */

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover,
  a.active {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}

/* error page  */
#error-page {
  display: flex;
  align-items: center;
  justify-content: center;
}

#error-page .content {
  max-width: 70rem;
  text-align: center;
}

.content h2.header {
  font-size: 18vw;
  line-height: 1em;
  animation: animate 10s ease-in-out infinite;
  background: -webkit-repeating-linear-gradient(-60deg,
      #71b7e6,
      var(--btn-color),
      #b98acc,
      #ee8176,
      #b98acc,
      var(--btn-color),
      #9b59b6);
  background-size: 500%;
  /* -webkit-background-clip: text; */
  -webkit-text-fill-color: transparent;
  text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.25);
  position: relative;
  -webkit-animation: animate 10s ease-in-out infinite;
}

@keyframes animate {
  0% {
    background-position: 0 0;
  }

  25% {
    background-position: 100% 0;
  }

  50% {
    background-position: 100% 100%;
  }

  75% {
    background-position: 0% 100%;
  }

  100% {
    background-position: 0% 0%;
  }
}

.content h4 {
  margin-bottom: 20px;
  text-transform: uppercase;
  font-size: 2rem;
}

.content .btns {
  margin: 25px 0;
  display: inline-flex;
  justify-content: center;
}

.content .btns a {
  display: inline-block;
  margin: 0 10px;
  text-decoration: none;
  border: 2px solid var(--btn-color);
  color: var(--btn-color);
  font-weight: 500;
  padding: 10px 25px;
  border-radius: 25px;
  text-transform: uppercase;
  transition: all 0.3s ease;
}

.content .btns a:hover {
  background: var(--btn-color);
  color: #fff;
}

/** -----------------------
** Home section css
** -------------------------  */

.section-home {
  & .contact-img {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -6rem;

    & img {
      width: 90%;
      height: auto;
    }
  }

  & .section-content {
    display: flex;
    align-items: center;
    justify-content: center;

    & .content {
      max-width: 80%;

      & h1 {
        font-family: "Bungee Spice", sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 4rem;
      }

      & p {
        font-family: "Shantell Sans", cursive;
        color: rgb(237, 233, 233);
      }

      & .register-home {
        width: 200px;
      }

      & .register-home:hover {
        cursor: pointer;
      }
    }
  }
}

/** -----------------------
** About section css
** -------------------------  */
.about_heading {
  font-family: "Shantell Sans", cursive;
  font-size: 4rem;
  font-weight: 600;
  color: #3b41bb;
}

.about_p {
  font-size: 1.5rem;
  color: rgb(130, 128, 128);
}

/** -----------------------
** registration section css
** -------------------------  */

.register_image {
  width: 11111px;
  height: 1000rem;
}

.section-registration {
  padding: 0 3.2rem;

  & .container {
    /* background-color: #fff; */
    padding-top: 3.2rem;
    align-items: center;

    & img {
      width: 80%;
      height: auto;
    }
  }

  & .registration-form {

    /* margin-top: 7rem; */

    & label {
      display: block;
      margin: 2.4rem 0 0.8rem 0;
      text-transform: capitalize;
      font-family: 'Aleo', serif;
    }

    & input {
      width: 60%;
      padding: 0.3rem 0.6rem;
      font-family: 'Aleo', serif;
    }

    & button {
      margin-top: 3.2rem;
    }
  }
}

.adminNav ul {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.adminContainer {
  display: grid;
  padding-top: 0;
  grid-template-columns: 1fr 3fr;
}

.adminList {
  flex-direction: column;
  list-style-type: none;
}

.adminList li {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr 1fr;
}


.car_form {
  margin-top: 5rem;
}

.section-bookcar {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  height: 80vh;
}

.section-bookcar .card {
  width: 300px;
  /* Adjust width as needed */
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  border: 2px solid white;
  background-color: white;
}

.section-bookcar .card img {
  width: 70%;
  margin-left: 40px;
  background-color: #ffffff;
  height: auto;
  object-fit: cover;
}

.section-bookcar .card-content {
  padding: 20px;
  background-color: #f9f9f9;
}

.section-bookcar .card-content h2 {
  margin-bottom: 10px;
  color: #000;
}

.section-bookcar .card-content form {
  margin-top: 20px;
}

.section-bookcar .card-content label {
  display: block;
  margin-bottom: 5px;
}

.section-bookcar .card-content input[type="text"] {
  display: none;
}

.section-bookcar .card-content button[type="submit"] {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.section-bookcar .card-content button[type="submit"]:hover {
  background-color: #0056b3;
}


.section-bookcar .car_container-text input,
.car_container-text label {
  display: none;
}


.cart_section {
  min-height: 80vh;
}

.cart_section table {
  width: 60%;
  border-collapse: collapse;
  margin: auto;
  margin-top: 10rem;
}

.cart_section th,
.cart_section td {
  padding: 8px;
  text-align: center;
  background-color: #329854;
  border-bottom: 1px solid #ddd;
}

.cart_section th {
  background-color: #570767;
}

.cart_section tbody tr:hover {
  background-color: #1e930a;
}

.cart_section button {
  background-color: #ff0000;
  color: #fff;
  border: none;
  padding: 8px 12px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.cart_section button:hover {
  background-color: #0056b3;
}

.no_item {
  text-align: center;
  margin-top: 15rem;
  color: red;
}


/* History */
/* OrderHistory.css */
.chart {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 15rem;
  margin-top: 5rem;
}

/* Styles for the container div */
.history_section {
  padding: 20px;
  max-width: 80%;
  margin: auto;

  /* Styles for the table container */
  .table_container {
    overflow-x: auto;
    /* Enable horizontal scrolling */
  }

  /* Styles for the table */
  .history_table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
  }

  .history_table th,
  .history_table td {
    padding: 8px;
    border: 1px solid #ddd;
    text-align: center;
  }
}


/* Search Functionality */
.search {
  background-color: white;
  color: #000;
  border-radius: 3rem;
  padding: 0.5rem 2rem 0.5rem 2rem;
}

.section_search {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 1rem;
}


/** -----------------------
** contact section css
** -------------------------  */

.section-contact {
  & .contact-content {
    padding: 0;

    & h1 {
      margin-bottom: 3.2rem;
    }
  }

  .container {
    padding-top: 3.2rem;
  }

  & .contact-img {
    display: flex;
    justify-content: center;
    align-items: center;

    & img {
      width: 80%;
      height: auto;
    }
  }

  & .section-form {
    & form {
      display: flex;
      flex-direction: column;
      gap: 3.2rem;
    }

    & label {
      display: block;
      margin-bottom: 1.2rem;
      text-transform: capitalize;
    }

    & input,
    textarea {
      width: 80%;
      padding: 0.4rem 0.6rem;
    }
  }
}

.map {
  margin: 1rem;
  margin-left: 20rem;
  padding: 1rem;
}

.checkbox-label {
  display: inline-block;
  font-size: 16px;
  color: #9b9494;
  cursor: pointer;
}

.checkbox-label.active {
  color: #007bff;
}

.aadhar {
  color: #00ff0d;
  font-size: 2rem;
  cursor: pointer;
}




/** -----------------------
**  toastBody
** -------------------------  */

.toastBody {
  font-family: "Atlas Grotesk Web", Arial, Helvetica, sans-serif;
  color: #fbfbfb;
  /* #10171D */
  font-size: 1.8rem;
}



/** -----------------------
** services section css
** -------------------------  */
.section-services {

  min-height: 80vh;

  & .container:first-child {
    padding: 0;
  }

  & .grid-four-cols {
    /* display: flex;
    flex-wrap: wrap; */
    grid-template-columns: repeat(4, 1fr);
    gap: 3.2rem;
    justify-content: space-between;
  }

  & .card {
    flex-basis: calc(25% - 3.2rem);
    /* Adjust width for 4 cards in a row with gap */
    border: 0.2rem solid var(--helper-color);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    box-shadow: 10px 10px 10px rgba(244, 244, 244, 0.1);
    background-color: rgb(226, 219, 219);
    border-radius: 2rem;
    color: black;
    transition: transform 0.3s ease-in-out;
  }

  & .card:hover {
    border: 0.2rem solid rgb(255, 102, 0);
    box-shadow: 10px 10px 10px rgba(0, 128, 255, 0.1);
    transform: scale(1.05);
  }

  & .card .card-img {
    flex-grow: 1;
    overflow: hidden;
    padding: 0.5rem;
    width: 200px;
    height: 200px;
    margin: auto;
  }

  & .card .card-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  & .card .card-details {
    padding: 2.4rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-weight: bold;
  }

  & .card .card-details h2 {
    font-size: 2rem;
    margin: 0;
  }

  & .card .card-details p.price {
    font-size: 1.8rem;
    margin: 0;
    color: rgb(74, 135, 13);
    /* Define your price color */
  }

  & .card .card-details .additional-info {
    display: flex;
    align-items: center;
    gap: 13.5rem;
    font-size: 1.6rem;
    color: var(--additional-info-color);
    /* Define your additional info color */

    & p {
      color: #08f604;
    }

    & h2 {
      font-family: 'Aleo', serif;
      font-size: 2.5rem;
    }
  }

}

.category-select {
  margin-left: 10px;
    padding : 8px; 
    font-size: 1.7rem;  
    border-radius: 5px;  
    border: 1px solid #ccc; 
    background-color: #fff;  
    color: #333; 
    width: 200px; 
}

.service_head {
  display: flex;
  align-items: center;
  justify-content: center;
}

.service_heading {
  margin-top: 2rem;
}

.icon {
  font-size: 3rem;
}

.card .card-details .phone-number {
  display: flex;
  align-items: center;
  font-size: 1.7rem;
}

.card .card-details .phone-number>span {
  margin-left: 7rem;
  /* Add left margin to the <span> element */
}


.book {
  border: 2px solid rgb(108, 100, 100);
  padding: 0.5rem 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3rem;
  color: #000;
  font-weight: bold;
}

.book:hover {
  background-color: #00ff00a4;
  color: rgb(255, 255, 255);
}


/* Card */
.checkout_btn {
  max-width: 50rem;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 5rem;

  h2 {
    font-size: 2.3rem;
  }
}


/** -----------------------
** Admin
** -------------------------  */

table {
  width: 120%;
  /* Increase the width as needed */
  border-collapse: collapse;
  margin-top: 20px;
  font-size: 20px;
  /* Increase the font size */
  border-radius: 10px;
  /* Add border-radius to make it rounded */
  overflow: hidden;
}

th,
td {
  padding: 20px;
  /* Increase the padding */
  text-align: left;
  border-bottom: 1px solid #ddd;
  /* Add border only at the bottom to separate rows */
}

th {
  background-color: #4CAF50;
  color: white;
}

tr {
  background-color: #294cdb;
  border-radius: 10px;
  /* Add border-radius to make it rounded */
  cursor: pointer;
}

tr:hover {
  background-color: #3d4eb1;
}

.action-column button {
  padding: 12px;
  /* Increase the padding */
  margin: 8px;
  cursor: pointer;
  background-color: #3498db;
  color: white;
  border: none;
  border-radius: 4px;
}

.action-column button:hover {
  background-color: #2980b9;
}

.edit button,
.delete button {
  /* padding: 12px; Adjust padding as needed */
  margin: 4px;
  cursor: pointer;
  border: none;
  border-radius: 25px;
  font-size: 18px;
}

.edit button {
  border: 2.5px solid rgb(255, 255, 255);
  color: white;
}

.edit2 {
  color: white;
}

.edit button:hover {
  background-color: #45a049;
}

.delete button {
  border: 2.5px solid rgb(255, 255, 255);
  color: white;
}

.delete button:hover {
  background-color: #d32f2f;
}

/** -----------------------
** Admin Contacts
** -------------------------  */

/* Responsive layout for AdminContacts component */
.admin-contacts-section {
  padding: 20px;
}

.container.admin-users {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.container.admin-users>div {
  flex: 1;
  min-width: 300px;
  background-color: #320a65;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  /* Hide overflowing content */
}

.container.admin-users>div p {
  margin-bottom: 10px;
  word-wrap: break-word;
}

.container.admin-users>div .message {
  max-height: 150px;
  overflow-y: auto;
}

/* Responsive styles for smaller screens */
@media screen and (max-width: 768px) {
  .container.admin-users>div {
    min-width: 100%;
  }
}


/** -----------------------
** admin pannel
** -------------------------  */

.admin_section {

  & .grid {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: 1fr 2fr;
    max-width: 80%;

    & .admin_pannel {
      max-width: 100%;
      /* height: 100vh; */
      box-shadow: 0px 0px 10px 0px rgba(255, 254, 254, 0.5);
      margin-bottom: 3rem;

      & .admin_image {
        margin-top: 2rem;
        border-radius: 1000px;
        height: 300px;
        width: 300px;
      }

      & h2 {
        font-size: 2rem;
        font-family: "Shantell Sans", cursive;
        color: #7d9bdc;
      }

      & .logout {
        font-size: 5rem;
        color: red;
      }

      & .logout:hover {
        transform: scaleX(1.5);
        /* color: #ff8c00; */
      }
    }

    & .admin_details {
      max-width: 100%;
      text-align: left;

      & h2 {
        font-size: 2rem;
      }

      & p {
        text-align: left;
      }

      .card-container {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        max-width: 100px;
        margin: 0 auto;
      }

      .grid-links {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-left: 0;
      }

      .card {
        width: 200px;
        height: 100px;
        padding: 20px;
        margin: 20px;
        border: 1px solid #ccc;
        border-radius: 8px;
        text-align: center;
      }

      .card:hover {
        opacity: 0.5;
      }

      .card .icons {
        width: 30%;
        height: auto;
        border-radius: 8px;
        color: blue;
      }

      .card h2 {
        font-size: 18px;
        color: #95ad0a;
      }

    }
  }

}

/* admin-users-section */
.admin-users-section,
.admin-contacts-section,
.history_section {
  min-height: 80vh;
}

/** -----------------------
** Bill Section
** -------------------------  */

.bill_section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: black;

  .bill_container {
    /* margin-top: -0rem; */
    width: 50%;
    border: 2px solid #000;
    padding: 20px;
    background-color: #f9f9f9;
    font-size: 1.5rem;
  }

  .header {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .logo img {
    width: 100px;
  }

  .invoice {
    display: flex;
    align-items: center;
    justify-content: right;

    & img {
      width: 150px;
      height: 30px;
    }
  }

  .from {
    display: grid;
    grid-template-columns: 1fr 1fr;

    .user img {
      width: 120px;
      height: 110px;
    }
  }

  .data {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 10px;

    .carimage img {
      width: 150px;
      height: 100px;
    }
  }

  .terms {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 5px;

    .total {
      font-size: 1.6rem;
      font-weight: 1000;
    }
  }

  .paid {
    width: 100px;
  }
}



@media print {

  header,
  .print {
    display: none;
  }
}



/** -----------------------
** media query section css
** -------------------------  */

@media (width <=998px) {
  .grid-two-cols {
    grid-template-columns: 1fr;
  }

  .section-services {
    & .grid-four-cols {
      grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));
    }
  }

  .section-registration {
    & .container {
      & .reg-img img {
        width: 60%;
        height: auto;
      }
    }
  }

  .admin_section {
    & .grid {
      grid-template-columns: 1fr;
      max-width: 80%;

      & .admin_pannel {
        & .admin_image {
          height: 200px;
          width: 200px;
        }
      }

      & .admin_details {
        .card {
          width: 130px;
          height: 80px;
        }

        .card h2 {
          font-size: 13px;
        }
      }
    }
  }

}

@media (width <=798px) {
  html {
    font-size: 56.25%;
  }

  .section-registration {
    & .container {
      & .reg-img img {
        width: 50%;
        height: auto;
      }
    }

    & .registration-form {
      & input {
        width: 100%;
        padding: 0.6rem 0.6rem;
      }
    }
  }

  .bill_section {
    .bill_container {
      /* margin-top: -0rem; */
      width: 80%;
    }
  }
}